/*Hero section style*/
.hero-section
{
    position: relative;
    z-index: 0;
    margin-top: -320px; 

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../../../assets/images/hero-bg-image.jpg') no-repeat;
        background-size: cover;
        z-index: -1;
        margin-top: -300px;
      }
    
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(245, 250, 246, 0.6);
        z-index: -1;
      }
    .container-xxl{
        margin-top: 300px;
        .hero-left{
           position: relative;
           z-index: 1;
            .heading-text{
                @include text-style(700,64px,84px,0%);
                color: $dark-green;
                span{
                    color: $light-green;
                }
                @media #{$brkmx576}{
                    @include text-style(700,44px,60px,0%);
                }
                @media #{$brkmx425}{
                    @include text-style(700,32px,40px,0%);
                }
            }

            .description{
                margin-top: 24px;
                margin-bottom: 32px;
                @media #{$brkmx576}{
                    margin-top: 12px;
                    margin-bottom: 16px;
                }
                @media #{$brkmx425}{
                    margin-top: 8px;
                    margin-bottom: 10px;
                }
            }
            .left-btn{
                .hero-btn{
                    color: $light-green;
                    @include text-style(500,18px,28px,0%);

                    &:hover{
                        text-decoration: underline !important;
                    }
                    @media #{$brkmx576}
                    {
                        @include text-style(500,15px,28px,0%);
                    }
                }
            }
        }

        .hero-right{
            max-width: 550px;
            width: 100%;
            z-index: 100;
            
            @media #{$brkmx1163}
            {
                max-width: 550px;
                width: 100%;
            }
            img{
                max-width: 626px;
            }
        }
    }
}

/*company style*/

.company-slider-section
{
    .swiper-slide img {
        filter: grayscale(100%);
        transition: filter 0.2s ease-in-out;
      }
      
      .swiper-slide:hover img {
        filter: grayscale(0%);
      }
}

/*services style*/

.services-card-section
{
    .container-xxl{
        .ser-row 
        {
            .ser-col
            {
                flex-basis: 400px;
                padding: 32px 0;
                background-color: $light-grey;
                border: 3px solid hsla(138, 81%, 31%, 0.10);
                border-radius: 20px;
                transition: transform 0.3s ease;

                .card-title{
                    @include text-style(600,30px,48px,0%);
                    height: 96px;

                    @media #{$brkmx425}
                    {
                        @include text-style(600,20px,23px,0%);
                        height: 30px;
                    }
                }

                .description
                {
                    margin-bottom: 30px;
                }

                .btn-green{
                    padding: 16px 24px;

                    @media #{$brkmx576}
                    {
                        padding: 6px 16px;
                        @include text-style(400,15px,28px,0%);
                    }
                }

                &:hover
                {
                    transform: scale(1.05);
                }
            }
        }
    }
}

/*advantage style*/

.unique-advantage-section
{
    background-color: $light-grey;

    .container-xxl{

        .advantage-row
        {
            margin-bottom: 48px;

            @media #{$brkmx950}
            {
                margin-bottom: 40px;
            }
            
            .advantage-img-col
            {
                flex-basis: 600px;
            }

            .advantage-text-col{
                flex-basis: 580px;
                padding: 34px 0;

                @media #{$brkmx950} {
                    padding: 0;
                }

                .avd-icon{
                    width: 74px;
                    height: 74px;
                    margin-bottom: 24px;

                    @media #{$brkmx768}
                    {
                        width: 50px;
                        height: 50px;
                    }
                }

                .description{
                    position: relative;
                    padding-left: 30px;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 0;
                        background: url('../../../assets/images/adv-right-icon.png') no-repeat;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        @media #{$brkmx1182}
        {
            .advantage-text-col
            {
                flex-basis: 450px;
            }
            .advantage-img-col
            {
                flex-basis: 500px;
            }
        }
      }
    }
}


/*Financing-features-section style*/

.financing-features-section
{
    .container-xxl
    {
        .tab-scroll-wrapper {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
          }
          
          .nav {
            gap: 10px;
            flex-wrap: nowrap !important;
            white-space: nowrap;
            min-width: 100%;
            border-bottom: 2px solid hsla(167, 13%, 27%, 0.3);

            @media #{$brkmx768}
            {
                gap: 0px;
                border-bottom: none;
            }
          }
          
          .nav-link {
            flex-shrink: 0;
            color: $dark-green;
            @include text-style(700, 30px, 48px, 0%);
            background-color: transparent !important;
            border: none;
            padding: 8px 70px;

            @media #{$brkmx768}
            {
                @include text-style(700, 20px, 48px, 0%);
                padding: 8px 30px;
            }
          
            &:hover {
              border-bottom: 2px solid $primary-green;
            }
          }

          .fea-row
          {
            margin-top: 64px;

            @media #{$brkmx768}
            {
                margin-top: 10px;
            }
            .fea-left
            {
                flex-basis: 650px;
                margin: auto;

                @media #{$brkmx1024}
                {
                    flex-basis: 400px;
                }

              .description
              {
                margin-bottom: 16px;

                @media #{$brkmx1024}
                {
                    margin-bottom: 10px;
                    font-size: 15px;
                }
              }
              .right-tik{
                position: relative;
                padding-left: 40px;
                margin-left: 15px;
              
                &::after
                {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url('../../../assets/images/right-tik.svg') no-repeat;
                    width: 24px;
                    height: 22px;
                }
              }

            }
            .fea-right
            {
                flex-basis: 500px;
                margin: auto;
                @media #{$brkmx1024}
                {
                    flex-basis: 450px;
                }
                img{
                    max-width: 555px;
                    width: 100%;
                    min-height: auto;
                }
            }
        }
    }
}

/*FAQS style*/

.faqs-section
{
    .container-xxl
    {
        .faqs-row
        {
            .faqs-left
            {
                flex-basis: 450px;

                @media #{$brkmx1298}
                {
                    text-align: center;
                    .heading
                    {
                        text-align: center;
                    }
                }
            }

            .faqs-right
            {
                flex-basis: 700px;

                .accordion-item
                {
                    border: 1px solid rgba(0, 148, 44, 0.1);
                    border-radius: 20px;
                    overflow: hidden;
                }

                .accordion-button
                {
                    position: relative;
                    @include text-style(600,20px,24px,0%);
                    padding-left: 50px;
                    color: $dark-green;
                    
                    @media #{$brkmx425}
                    {
                        @include text-style(600,15px,20px,0%);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 20px;
                        left: 0;
                        background: url('../../../assets/images/plus-sign.svg') no-repeat;
                        width: 15px;
                        height: 15px;
                        margin-left: 20px;
                    }
                }

                .accordion-button:not(.collapsed) 
                {
                    background-color: $light-grey;

                    &::after {
                    background: url('../../../assets/images/minus-sign.svg') no-repeat center center;
                    width: 15px;
                    height: 15px;
                    }
                }

                .accordion-collapse.show {
                    background-color: $light-grey; 
                }

                .description
                {
                    margin-left: 50px;
                }
            }

            @media #{$brkmx1298} {
                .faqs-left,
                .faqs-right 
                {
                  flex-basis: 100% !important;
                  max-width: 100%;
                }
            }
        }
    }
}

/*financial-freedom-section style start*/
.financial-freedom-section
{
     background-color: $light-grey;

     @media #{$brkmx992}
     {
        background-color: transparent;
     }

    .container-xxl{
        background: $primary-green;
        border-radius: 20px;
        
        .freedom-row{
            .freedom-left
            {
                flex-basis: 620px;

                @media #{$brkmx1068}
                {
                   margin: auto;
                }

                .single-color-heading
                {
                    color: $light-white;
                    width: 100%;
                    max-width: 500px;
                }
                .description
                {
                    color: $light-white;
                    margin-bottom: 32px;

                    @media #{$brkmx425}
                    {
                        margin-bottom: 10px;
                    }
                }
                .btn-green
                {
                    color: $primary-green;
                    background: $light-white;
                
                    &:hover {
                        background: $btn-color;
                        color: $white;
                      }	  
                }
            }
            .freedom-right
            {
                flex-basis: 400px;
                .freedom-img
                {
                    max-width: 353px;
                    width: 100%;
                    height: auto;
                }

                @media #{$brkmx1068}
                {
                   margin: auto;
                }
            }
        }
    }
}