footer{
    background-color: $footer-bg;

    h5{
        @include text-style(700,18px,24px,0%);
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        color: $light-grey;
    }
    .row
    {
        padding-top: 80px;
        margin-bottom: 48px;

        @media #{$brkmx425}{
            padding-top: 50px;
            margin-bottom: 28px;
        }
    }
    .nav-item
    {
        .nav-link
        {
            @include text-style(400,16px,26px,0%);
            color: $light-grey;
            margin-top: 8px;
        }

        .fa-facebook-f ,.fa-instagram ,.fa-x-twitter, .fa-linkedin-in
        {
            width: 20px;
            height: 20px;
            background-color: $light-grey;
            color: $primary-green;
            line-height: 20px;
            font-size: 12px;
        }
    }
    .footer-text
    {
        @include text-style(400,14px,27px,0%);
        color: $light-white;
    }
}