// General Style
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden !important;
}
html{
	overflow-x: hidden !important;
}
/* COMMON DESIGN START */

a {
	text-decoration: none;
	transition: 0.5s all ease;
 	&:hover {
 		text-decoration: none;
	}
}
h1, h2, h3, h4, h5, h6, p, ul li {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding: 0;
 li {
 list-style-position: inside;
}
}
/* COMMON DESIGN END */

img {
	max-width: 100%;
	height: auto;
}

/*padding for sections*/

.section-padding-wapper {
	padding: 80px 15px; // Default for desktop
  
	@media #{$brkmx992} { // Tablet
	  padding: 60px 12px;
	}
  
	@media #{$brkmx576} { // Mobile
	  padding: 40px 10px;
	}
  }
  

/*button style*/
.btn
{
	padding: 8px 20px;
	@include text-style(500,18px,28px,0%);

	@media #{$brkmx576}
	{
		padding: 6px 16px;
		@include text-style(400,15px,28px,0%);
	}
}
.btn-green
{
	color: $light-white;
	background: linear-gradient(180deg, $btn-color 0%, $btn-hover-2 100%);
	border-radius: 0;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
	outline: none;

	&:hover {
		background: $white;
		color: $btn-color;
		border: 1px solid $btn-hover-2;
	  }	  
}

.bg-text
{
	padding: 12px 24px;
	background-color: $bg-text;
	color: $gray;
	@include text-style(600,16px,26px,0%);
	margin-bottom: 24px;
}

.heading
{
	text-align: center;
	text-transform: capitalize;
	@include text-style(700,48px,64px,0%);
	margin-bottom: 16px;
	span{
		color: $light-green;
	}
	@media #{$brkmx768}{
		@include text-style(700,36px,56px,0%);
	}
	@media #{$brkmx425}
	{
		@include text-style(700,25px,37px,0%);
	}
}

.description
{
	@include text-style(400,18px,30px,0%);
	color: $gray;
	margin-bottom: 64px;

	@media #{$brkmx576}
	{
		@include text-style(400,13px,20px,0%);
		margin-bottom: 40px;
	}

	@media #{$brkmx425}{
		@include text-style(400,10px,17px,0%);
	}
}

.single-color-heading
{
	@include text-style(700,40px,50px,0%);
	color: $dark-green;
	margin-bottom: 24px;

	@media #{$brkmx425}
	{
	@include text-style(700,25px,30px,0%);
	}
}



